Source: pandan-theme
Section: misc
Priority: optional
Maintainer: BlankOn Developers <BlankOn-dev@googlegroups.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/artemtech/pandan-theme.git

Package: pandan-theme
Architecture: all
Depends: ${misc:Depends}, gtk3-engines-unico, gtk2-engines-murrine
Description: Pandan Theme
 A theme for Manokwari on BlankOn. Based on Bromo Theme.
